@model GymManagementSystem.ViewModels.WorkoutViewModel
@{
    ViewData["Title"] = "CreateWorkout";
}

<h1>CreateWorkout</h1>
<div class="box">
    <form asp-controller="FitnessWorkout" asp-action="CreateWorkout" method="post" enctype="multipart/form-data">


        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="WorkoutName">Workout Name</label>
                    <input name="WorkoutName" class="form-control" />
                    <span asp-validation-for="WorkoutName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea name="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>


                </div>

                <div class="form-group">
                    <labela asp-for="MaxParticpant">Max Particpant</labela>
                    <input type="number" name="MaxParticpant" class="form-control" />
                    <span asp-validation-for="MaxParticpant" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input type="text" name="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label>ImageURL</label>
                    <input asp-for="Photo" type="file" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>

                    <div id="uploadPreview" class="mt-2">
                        <img src="~/img/default-placeholder.png" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            </div>

        </div>


    </form>


    <div class="mt-5">
        <a asp-action="Index" class="btn btn-primary"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back to List</a>
    </div>

</div>







<script>
    var _URL = window.URL || window.webkitURL;

    $("#Photo").change(function (e) {
        var image, file;
        if ((file = this.files[0])) {
            image = new Image();
            image.onload = function () {
                src = this.src;
                $('#uploadPreview').html('<img src="' + src + '"></div>');
                e.preventDefault();
            }
        }
    
        image.src = _URL.createObjectURL(file);
    });
</script>