@model IEnumerable<GymManagementSystem.Entities.Models.Workout>
@{
    ViewData["Title"] = "Index";


}

<div class="box">

    <h1>Workout List</h1>

    <div class="row mb-5">
        <div class="col-md-12">
            <a asp-controller="FitnessWorkout" asp-action="CreateWorkout" class="btn btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i>Add new Workout</a>
        </div>

    </div>

            @Html.Partial("_PvWorkout",Model)
        


</div>

































