
@model GymManagementSystem.Entities.Models.Employee
@{
    ViewData["Title"] = "DeleteEmployee";
}

<h1>Delete Employee</h1>

<h2>Are you sure you want to delete</h2>

<form method="post">
    <label>Id</label>
    <input name="EmployeeId" value="@Model.EmployeeId" />
    <label>EmployeeName</label>
    <input name="EmployeeName" value="@Model.EmployeeName" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <button type="submit">Yes Delete</button>
</form>

<a href="/Index">Cancel</a>

