@model GymManagementSystem.Entities.Models.Employee

@{
    ViewData["Title"] = "EditEmployee";
}

<h1>EditEmployee</h1>


<form asp-controller="FitnessWorkout" asp-action="EditEmployee" method="post">
    <label>Id</label>
    <input name="EmployeeId" value="@Model.EmployeeId" />

    <label>EmployeeName</label>
    <input name="EmployeeName" value="@Model.EmployeeName" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <button type="submit">Save</button>
</form>