@model IEnumerable<GymManagementSystem.Entities.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- Button trigger modal -->
<button type="button" asp-controller="Employee" asp-action="CreateEmployee" 
    class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" id="addBtn">
    Launch demo modal
</button>


<br />


<!--Calling the modal through Ajax  Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div id="AddContent">

    </div>

</div>



@*Display Table list by Partial view*@
<div id="partial">
    @Html.Partial("_EmployeeList", Model)
</div>



<script type="text/javascript">
    //1 fectching the model
    $("#addBtn").click(function () {
        //console.log("Test Modal ok");
        $.ajax({
            url: $(this).attr("formaction"),
        }).done(function (msg) {
            //This will add the form to the id=AddContent
            $("#AddContent").html(msg);
            $("#exampleModalLong").modal("show");
        })
    })

    //now we go inside the model

    $("#savebtn").click(function () {

        console.log("Test ok");

    });



</script>