@model ProfileViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form asp-action="Create" asp-controller="UserProfile" method="post" enctype="multipart/form-data">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <input asp-for="Id" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="FirstName">First Name <span class="required">*</span></label>
                                        <input asp-for="FirstName" type="text" class="form-control">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="LastName"> LastName <span class="required">*</span></label>
                                        <input asp-for="LastName" type="text" class="form-control">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Email">Email <span class="required">*</span></label>
                                        <input asp-for="Email" type="text" class="form-control">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="DateOfBirth"> Date of Birth <span class="required">*</span></label>
                                        <input asp-for="DateOfBirth" type="date" id="date" class="form-control">
                                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 d-flex">
                                    <div class="form-group">
                                        <label asp-for="Feet"> Feet <span class="required">*</span></label>
                                        <input asp-for="Feet" type="number" class="form-control">
                                        <span asp-validation-for="Feet" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Inch"> Inch <span class="required">*</span></label>
                                        <input asp-for="Inch" type="number" class="form-control">
                                        <span asp-validation-for="Inch" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Weight"> Weight *kg<span class="required">*</span></label>
                                        <input asp-for="Weight" type="text" class="form-control">
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Phone"> Mobile number <span class="required">*</span></label>
                                        <input asp-for="Phone" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Gender"> Male<span class="required"></span></label>
                                        <input asp-for="Gender" checked="checked" type="radio" value="Male" />
                                        <label asp-for="Gender"> Female<span class="required"></span></label>
                                        <input asp-for="Gender" checked="checked" type="radio" value="Female" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Address"> Address <span class="required">*</span></label>
                                        <input asp-for="Address" type="text" class="form-control">
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Photo">Choose Your Profile Image:</label>
                                        <input asp-for="Photo" type="file" accept="image/*">
                                    </div>
                                    <div id="uploadPreview" class="mt-2">
                                        <img src="~/img/profile-img.png" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="HealthDescription">Any Health issue <span class="required">*</span></label>
                                        <textarea asp-for="HealthDescription" rows="4" class="form-control"></textarea>
                                        <span asp-validation-for="HealthDescription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var _URL = window.URL || window.webkitURL;
    $("#Photo").change(function (e) {
        var image, file;
        if ((file = this.files[0])) {
            image = new Image();
            image.onload = function () {
                src = this.src;
                $('#uploadPreview').html('<img src="' + src + '"></div>');
                e.preventDefault();
            }
        }

        image.src = _URL.createObjectURL(file);
    });
</script>