@model ProfileViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form asp-action="Create" asp-controller="Profile" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <input asp-for="Id" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">First Name <span class="required">*</span></label>
                                        <input id="name" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="last"> LastName <span class="required">*</span></label>
                                        <input id="last" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Email <span class="required">*</span></label>
                                        <input asp-for="Email" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="dob"> Date of Birth <span class="required">*</span></label>
                                        <input id="dob" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="height"> Height <span class="required">*</span></label>
                                        <input id="height" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="weight"> Weight <span class="required">*</span></label>
                                        <input id="weight" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Phone"> Mobile number <span class="required">*</span></label>
                                        <input asp-for="Phone" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Gender"> Male<span class="required"></span></label>
                                        <input checked="checked" id="Gender" name="Gender" type="radio" value="Male" />
                                        <label for="Gender"> Female<span class="required"></span></label>
                                        <input checked="checked" id="Gender" name="Gender" type="radio" value="Female" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Address"> Address <span class="required">*</span></label>
                                        <input id="Address" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="img">Select image:</label>
                                        <input type="file" id="img" name="img" accept="image/*">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="comment">Any Health issue <span class="required">*</span></label>
                                        <textarea id="comment" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>